<h1><%= @card.name %></h1>

<p><%= @card.set %>(<%= @card.cardnum %>) </p>
<p>Owned: <%= @card.quantity %> </p>
<img src="<%=@card.image%>">

<ul>
    <li><%= link_to "Edit", edit_card_path(@card) %></li>
    <li><%= link_to "Destroy", card_path(@card), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
    } %></li>
</ul>

<h2>Current Decks:</h2>
<% @card.decks.each do |deck| %>
    <p>
        <strong>Deck:</strong>
        <%= deck.name %>
        <strong>Power Level:</strong>
        <%= deck.power_level %>
    </p>
<% end %>

<h2>Add to deck:</h2>
<%= form_with model: [@card, @card.decks.build ] do |form| %>
    <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </p>
    <p>
        <%= form.label :power_level %><br>
        <%= form.number_field :power_level %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>