<h1><%= @card.name %></h1>

<p><%= @card.set %>(<%= @card.cardnum %>) </p>
<p>Owned: <%= @card.quantity %></p>
<p>Status: <%= @card.status %></p>
<p><img src="<%=@card.image%>"></p>

<ul>
    <li><%= link_to "Edit", edit_card_path(@card) %></li>
    <li><%= link_to "Destroy", card_path(@card), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
    } %></li>
</ul>

<h2>Current Decks:</h2>
<%= render @card.decks %>

<h2>Add to deck:</h2>
<%= render "decks/form", card: @card %>