<%= form_with model: [card, card.decks.build ] do |form| %>
    <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </p>

    <p>
        <%= form.label :power_level %><br>
        <%= form.number_field :power_level %>
    </p>
    
    <div>
        <%= form.label :status %><br>
        <%= form.select :status, Visible::VALID_STATUSES, selected: "public" %>
    </div>

    <p>
        <%= form.submit %>
    </p>
<% end %>